// Typography Classes
.font-WorkSans{
    font-family: $font-WorkSans;
}

.font-Rale{
    font-family: $font-Raleway;
}

.font-Krub{
    font-family: $font-Krub;
}
.font-Ubuntu{
    font-family: $font-Ubuntu;
}
.font-Roboto{
    font-family: $font-Roboto;
}
.font-Rubik{
    font-family: $font-Rubik;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
