$font-WorkSans:"Work Sans ", cursive;
$font-Raleway:"Raleway", cursive;
$font-Krub:"Krub", sans-serif;
$font-Ubuntu:"Ubuntu",Sans;
$font-Roboto:'Roboto Condensed', sans-serif;
$font-Rubik:'Rubik', sans-serif;
$color-primary:#003859;
$color-second:#00A5CA;
$color-yellow:yellow;